.btn:focus {
	outline: none;
	box-shadow: none;
}

/*css notification*/
.notificacion_alert{
	position: fixed;
	top: 70px;
	right: 30px;
	z-index: 999999;
}

/*css notification*/

#map {
	width: 100%;
	height: 320px;
}

.mainCard{
	height: 30.1%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.secondaryCard{
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-blueCustom{
	background: #B6EFFA;
}

.btn-greenCustom{
	background: #B8E2B6;
}


.mainTableChats{
	min-height: 750px;
}


#divRespuestas{
	max-height: 256px;
	overflow: auto;
}

.rspIG.input-group.mb-3:hover .rspIG.input-group-text {
	background-color: #e95f5f;
	content: url('https://api.iconify.design/material-symbols/delete-outline.svg');
}

#add_question .modal-content{
	height: 600px;
}

#divModRespuestas{
	max-height: 256px;
	overflow: auto;
}

.rspIGr.input-group.mb-3:hover .rspIGr.input-group-text {
	background-color: #e95f5f;
	content: url('https://api.iconify.design/material-symbols/delete-outline.svg');
}

#mod_question .modal-content{
	height: 600px;
}

table.dataTable.no-footer {
	border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}

.input-error {
	border: 1px solid rgb(212, 131, 131);
}

.height150{
	height: 150px;
}
